{% extends "app_post/base.html" %}
  
{% block extra_js %}
     <script>
        function addPost(post){
            var divPost = '<div class="blog-post">'
                    + '<h2 class="blog-post-title">'+ post.title +'</h2>'
                    + '<p class="blog-post-meta">'+ post.create +' by<a href="#"> '+ post.user_repr.username +'</a></p>'

                    + '<p>'+ post.text +'</p>'
                    + '</div>'
                    + '<!--/.blog-post--> ';

            return divPost;
        }

        function loadPost(id) {
            var url = "http://127.0.0.1:8000/blog/api/v1.0/posts/"+ id +"/";

            var postData = $.getJSON(url)
                .done(function(data) {
                    $( ".blog-main" ).prepend(addPost(data));
                })
                .fail(function(jqxhr, textStatus, error) {
                    var err = textStatus + ', ' + error;
                    console.log("Request Failed: " + err);
                });
        }

        var blogSocket = new WebSocket(
          'ws://' + window.location.host + '/ws/blog/');

        blogSocket.onmessage = function(e) {
          // console.log(e.data);
          var data = JSON.parse(e.data);
  
          loadPost(data['newId']);
        };

        blogSocket.onclose =function(e) {
          console.error('Blog socket closed unexpectedly');
        };

    </script>
{% endblock %}

{% block main %}
      {% if articles %}
        {% for article in articles %}
            <div class="blog-post">
                <h2 class="blog-post-title">{{ article.title }}</h2> 
                <p class="blog-post-meta">{{ article.create }} by <a href="#">{{ article.user }}</a></p>

                <p>{{ article.text }}</p>
            </div><!-- /.blog-post -->
        {% endfor %}
      {% else %}
          Article no yet
      {% endif %}

          <div class="blog-post">
            <h2 class="blog-post-title">Another blog post</h2>
            <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>

            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            <blockquote>
              <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </blockquote>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">New feature</h2>
            <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
          </div><!-- /.blog-post -->
{% endblock %}